.wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #edc0c0;
  padding: 20px 20px;
  border-radius: 20px;
}

.noNotes {
  display: flex;
  justify-content: center;
  align-items: center;
}
